<footer class="footer">
    <div class="container-fluid">
        </nav>
        <p class="copyright pull-right">
            <a href="/">Randeepa Cloud</a> - Version 9.2.0 &copy; <script>document.write(new Date().getFullYear())</script> Randeepa Agrarian (Pvt) Limited
        </p>
    </div>
</footer>
