<footer class="footer">
    <p><%= name %> &copy; 2017 Randeepa Agrarian Private Limited.</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
