<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li><b>Randeepa Agrarian Private Limited</b></li>
                <br>
                <li>"Chandima", Sirisangabo Place</li>
                <br>
                <li>Polonnaruwa(51000), Sri Lanka</li>
                <br>
                <li>Tel/Fax: +9427 222 7788</li>
            </ul>
        </nav>
        <img src="/img/R-Logo-RGB.png" style="width: 90px;">
    </div>
</div>
