<!DOCTYPE html>
<html>
    <head>
        <% include ../layouts/pro/head %>
        <style>
        </style>
    </head>
    <body>
        <div class="wrapper">
            <% include ../layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ../layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <%= title %>
                                        <p class="category"><%= warning_msg %></p>
                                    </div>
                                    <div class="content">
                                        <form method="POST" action="/hirePurchase/newReceipt" enctype="multipart/form-data">
                                            <table>
                                                <tr>
                                                    <td>Date &nbsp;</td>
                                                    <td><font color='orange'>(Required)</font>&nbsp;</td>
                                                    <td><input class="form-control" style='width: 350px' type='text' name='date' placeholder='YYYY-MM-DD' /></td>
                                                </tr>
                                                <tr>
                                                    <td>Contract ID &nbsp;</td>
                                                    <td><font color='orange'>(Required)</font>&nbsp;</td>
                                                    <td><input class="form-control" style='width: 350px' type='text' name='contract_id' /></td>
                                                </tr>
                                                <tr>
                                                    <td>Amount &nbsp;</td>
                                                    <td><font color='orange'>(Required)</font>&nbsp;</td>
                                                    <td><input class="form-control" style='width: 350px' type='text' name='amount' /></td>
                                                </tr>
                                                <tr>
                                                    <td>TR Number&nbsp;</td>
                                                    <td><font color='green'>(Optional)</font>&nbsp;</td>
                                                    <td><input class="form-control" style='width: 350px' type='text' name='tr_number' /></td>
                                                </tr>
                                                <tr>
                                                    <td>TR Book Number &nbsp;</td>
                                                    <td><font color='green'>(Optional)</font>&nbsp;</td>
                                                    <td><input class="form-control" style='width: 350px' type='text' name='tr_book_number' /></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td><button class="btn btn-primary">Add Payment</button></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>

                <% include ../layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ../layouts/pro/includes %>
</html>
